Repository dead-space-server/space-station-14-fobos, pull requests merged in 2025-07, with the labels that each got.

#321 Новые лавсеты
  Resources/Locale/ru-RU/_deadspace/station-laws/laws.ftl
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DeadSpace/silicon-laws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: No C#, S: Approved, size/M, Changes: Localization

#356 [MAPS] Elkridge update
  Resources/Maps/elkridge.yml
Labels: Changes: Map, Changes: No C#, S: Approved

#138 Обновление материалов (стопки по 10, недостающие спрайты, исправления)
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/ingots.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/materials/sheets/other.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/ingots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/other.ftl
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Textures/Objects/Materials/hide.rsi/goliath_hide.png
  Resources/Textures/Objects/Materials/hide.rsi/goliath_hide_2.png
  Resources/Textures/Objects/Materials/hide.rsi/goliath_hide_3.png
  Resources/Textures/Objects/Materials/hide.rsi/goliathhide-inhand-left.png
  Resources/Textures/Objects/Materials/hide.rsi/goliathhide-inhand-right.png
  Resources/Textures/Objects/Materials/hide.rsi/meta.json
  Resources/Textures/Objects/Materials/materials.rsi/bananium-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/bananium-inhand-right.png
  Resources/Textures/Objects/Materials/materials.rsi/bananium.png
  Resources/Textures/Objects/Materials/materials.rsi/bananium_1.png
  Resources/Textures/Objects/Materials/materials.rsi/bananium_2.png
  Resources/Textures/Objects/Materials/materials.rsi/bananium_3.png
  Resources/Textures/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Objects/Materials/materials.rsi/peel.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#357 Return Elkridge to map pool
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, size/XS, Changes: C#

#241 Пониженна цена голопоразита, докинул рубашки в лодаут сб
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_cadet.yml
Labels: Changes: No C#, S: Approved, size/S

#221 Show revolution icon
  Content.Server/DeadSpace/ShowRevolutionIcon/ShowRevolutionIconSystem.cs
  Content.Shared/DeadSpace/ShowRevolutionIcon/ShowRevolutionIconComponent.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Prototypes/StatusIcon/faction.yml
Labels: S: Approved, size/S, Changes: C#

#360 [MAPS] Plasma, Elkridge update
  Resources/Maps/elkridge.yml
  Resources/Maps/plasma.yml
Labels: Changes: Map, Changes: No C#, S: Approved

#362 Забыл изменить скафандр в заказе спонсора
  Resources/Prototypes/_DeadSpace/Sponsor/3eilado.yml
Labels: Changes: No C#, S: Approved, size/S

#363 Изменение описания экспериментальной лазерной винтовки
  Resources/Locale/en-US/_deadspace/prototypes/entities/objects/weapons/guns/battery/cartridge_laser_rifle.ftl
Labels: Changes: No C#, S: Approved, size/XS, Changes: Localization

#359 Группы кастомным рецептам еды, обновление рецепта круассанов
  Resources/Prototypes/_ADT/Recipes/Cooking/croissant_recipe.yml
  Resources/Prototypes/_ADT/Recipes/Cooking/fried_egg_recipe.yml
  Resources/Prototypes/_ADT/Recipes/Cooking/sausage_recipe.yml
  Resources/Prototypes/_ADT/Recipes/Cooking/shawerma_recipe.yml
  Resources/Prototypes/_Corvax/Recipes/Cooking/meat_recipes.yml
  Resources/Prototypes/_DeadSpace/Recipes/Cooking/meal_recipes.yml
Labels: Changes: No C#, S: Approved, size/S

#379 Биокод для спонсорского скафа Sil
  Resources/Prototypes/_DeadSpace/Sponsor/sil.yml
Labels: Changes: No C#, S: Approved, size/XS

#305 Обновление рецептов тайлов
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DeadSpace/tags.yml
Labels: Changes: Map, Changes: No C#, S: Approved, size/S

#180 Signature on paper
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Server/DeadSpace/SignatureOnPaper/SignaturePaperSystem.cs
  Content.Shared/DeadSpace/SignatureOnPaper/Components/SignaturePaperComponent.cs
  Content.Shared/DeadSpace/SignatureOnPaper/Components/SignatureToolComponent.cs
  Content.Shared/Paper/PaperComponent.cs
  Content.Shared/Paper/PaperSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Textures/_DeadSpace/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_DeadSpace/Interface/VerbIcons/pen.svg
  Resources/Textures/_DeadSpace/Interface/VerbIcons/pen.svg.192dpi.png
  Resources/Textures/_DeadSpace/Interface/VerbIcons/pen.svg.192dpi.png.yml
Labels: Changes: UI, S: Approved, size/M, Changes: C#

#220 Добавлена возможность извлечения веществ из сигарет
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
Labels: Changes: No C#, S: Approved, size/XS

#226 Добавлена возможность ограничения трейтов на ролях; Ограничены трейты на ОСЩ
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Locale/ru-RU/_deadspace/job/trait-blacklist.ftl
  Resources/Prototypes/_DeadSpace/Roles/Jobs/Command/officer_blueshield.yml
Labels: S: Approved, size/S, Changes: Localization, Changes: C#

#383 Изменение спрайта магниток Синдиката
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/on-equipped-FEET.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/XS

#381 Captain formal dress resprite
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/XS

#384 New TTS voices
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/_Corvax/tts-voices.yml
Labels: Changes: No C#, Changes: Localization

#385 Morgue paper sprites
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
  Resources/Textures/Structures/Storage/morgue.rsi/bounty.png
  Resources/Textures/Structures/Storage/morgue.rsi/captains_paper.png
  Resources/Textures/Structures/Storage/morgue.rsi/invoice.png
  Resources/Textures/Structures/Storage/morgue.rsi/meta.json
  Resources/Textures/Structures/Storage/morgue.rsi/paper.png
Labels: Changes: No C#, Changes: Sprites, size/S

#387 Nerf shields
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Changes: No C#, size/S

#388 Update collision group
  Content.Shared/Physics/CollisionGroup.cs
Labels: S: Approved, size/XS, Changes: C#

#390 NightVision for blob
  Resources/Prototypes/_Backmen/Entities/Mobs/NPC/blob.yml
Labels: Changes: No C#, S: Approved

#392 [MAPS] Paper
  Resources/Maps/corvax_paper.yml
Labels: Changes: Map, Changes: No C#, S: Approved

#397 Unitology gamemode tweak
  Content.Shared/DeadSpace/Necromorphs/InfectionDead/Components/NecromorfComponent.cs
  Resources/Prototypes/_DeadSpace/Necromorphs/modifier_sets.yml
  Resources/Prototypes/_DeadSpace/Necromorphs/necromorfs.yml
Labels: S: Approved, Changes: C#

#400 Fix necro and spiders bugs
  Content.Server/DeadSpace/Abilities/Bloodsucker/BloodsuckerSystem.cs
  Content.Server/DeadSpace/Abilities/Bloodsucker/ExamineBloodSystem.cs
  Content.Server/DeadSpace/Abilities/Cocoon/CocoonSystem.cs
  Content.Server/DeadSpace/Abilities/Cocoon/Components/CocoonComponent.cs
  Content.Server/DeadSpace/Abilities/HipoHandSystem/HipoHandSystem.cs
Labels: S: Approved, size/S, Changes: C#

#402 Хотфикс рецептов новых тайлов
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_DeadSpace/Recipes/Lathes/tiles.yml
Labels: Changes: No C#, S: Approved, size/M

#398 Респрайт костюма психолога.
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/XS

#410 Уменьшение ролей парамедиков
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/gemini.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/oasis.yml
Labels: Changes: Map, Changes: No C#, S: Approved, size/S

#413 Revert "Show revolution icon (#221)"
  Content.Server/DeadSpace/ShowRevolutionIcon/ShowRevolutionIconSystem.cs
  Content.Shared/DeadSpace/ShowRevolutionIcon/ShowRevolutionIconComponent.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Prototypes/StatusIcon/faction.yml
Labels: size/S, Changes: C#
