Repository dead-space-server/space-station-14-fobos, pull requests merged in 2025-06, with the labels that each got.

#251 Возвращение Атласа
  Resources/Maps/atlas.yml
Labels: Changes: Map, Changes: No C#, S: Approved, size/XL

#255 Апдейт доминаторского заказа Kelic
  Resources/Locale/ru-RU/_deadspace/sponsor/kelic.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/kelic.yml
  Resources/Textures/_DeadSpace/Sponsor/Kelic/backpack.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/backpack.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/backpack.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/backpack.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/belt.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/cloak.rsi/equipped-NECK.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/cloak.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/cloak.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/cloak.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/crusher.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/crusher.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/crusher.rsi/icon-lit.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/crusher.rsi/icon-uncharged.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/crusher.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/crusher.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/crusher.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/crusher.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/crusher.rsi/wielded-inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/crusher.rsi/wielded-inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/gasmask.rsi/equipped-MASK.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/gasmask.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hardsuit.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hardsuit.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hardsuit.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/helmet.rsi/icon-flash.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/helmet.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hud.rsi/equipped-EYES.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hud.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/jumpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/jumpsuit.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/jumpsuit.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/jumpsuit.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/magboots.rsi/equipped-FEET.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/magboots.rsi/icon-on.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/magboots.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/magboots.rsi/on-equipped-FEET.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/pda.rsi/equipped-BELT.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/pda.rsi/equipped-IDCARD.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/pda.rsi/id_overlay.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/pda.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/pda.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/pda.rsi/insert_overlay.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/pda.rsi/light_overlay.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/pda.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/pda.rsi/pda.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/ring_eirin.rsi/equipped-HAND.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/ring_eirin.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/ring_eirin.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/ring_eirin.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/ring_eirin.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/ring_kelik.rsi/equipped-HAND.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/ring_kelik.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/ring_kelik.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/ring_kelik.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/ring_kelik.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#214 Reach remap
  Resources/Maps/reach.yml
Labels: Changes: Map, Changes: No C#, S: Approved, size/L

#207 Core remap
  Resources/Maps/core.yml
Labels: Changes: Map, Changes: No C#, S: Approved, size/XL

#74 Доработка шахтёрских стен
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/mining.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/_DeadSpace/Recipes/Construction/Graphs/structures/airlock_mining.yml
  Resources/Prototypes/_DeadSpace/Recipes/Construction/Graphs/structures/window_mining.yml
  Resources/Prototypes/_DeadSpace/Recipes/Construction/airlock_mining.yml
  Resources/Prototypes/_DeadSpace/Recipes/Construction/window_mining.yml
Labels: Changes: No C#, S: Approved, size/M, Changes: Localization

#93 Разные полезности для мапперов
  Resources/Locale/en-US/_deadspace/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/structures/walls/walls.ftl
  Resources/Prototypes/_DeadSpace/Decals/crayons.yml
  Resources/Prototypes/_DeadSpace/Entities/Markers/LightPoint/light_points.yml
  Resources/Prototypes/_DeadSpace/Entities/Structures/Shuttles/Thrusters/thrusters.yml
  Resources/Prototypes/_DeadSpace/Entities/Structures/Walls/walls.yml
  Resources/Textures/_DeadSpace/Decals/crayondecals.rsi/body_demon.png
  Resources/Textures/_DeadSpace/Decals/crayondecals.rsi/body_diona.png
  Resources/Textures/_DeadSpace/Decals/crayondecals.rsi/body_lizard.png
  Resources/Textures/_DeadSpace/Decals/crayondecals.rsi/body_moth.png
  Resources/Textures/_DeadSpace/Decals/crayondecals.rsi/body_shark.png
  Resources/Textures/_DeadSpace/Decals/crayondecals.rsi/body_spider.png
  Resources/Textures/_DeadSpace/Decals/crayondecals.rsi/body_vox.png
  Resources/Textures/_DeadSpace/Decals/crayondecals.rsi/body_vulp.png
  Resources/Textures/_DeadSpace/Decals/crayondecals.rsi/meta.json
  Resources/Textures/_DeadSpace/Structures/Shuttles/Thrusters/large.rsi/base.png
  Resources/Textures/_DeadSpace/Structures/Shuttles/Thrusters/large.rsi/meta.json
  Resources/Textures/_DeadSpace/Structures/Shuttles/Thrusters/large.rsi/thrust.png
  Resources/Textures/_DeadSpace/Structures/Shuttles/Thrusters/large.rsi/thrust_burn_unshaded.png
  Resources/Textures/_DeadSpace/Structures/Shuttles/Thrusters/medium.rsi/base.png
  Resources/Textures/_DeadSpace/Structures/Shuttles/Thrusters/medium.rsi/meta.json
  Resources/Textures/_DeadSpace/Structures/Shuttles/Thrusters/medium.rsi/thrust.png
  Resources/Textures/_DeadSpace/Structures/Shuttles/Thrusters/medium.rsi/thrust_burn_unshaded.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#101 Волокнисты батончики нианам
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sustenance.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/snacks.rsi/fabricbrick-in-world.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/snacks.rsi/fabricbrick-open-in-world.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/snacks.rsi/fabricbrick-open.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/snacks.rsi/fabricbrick.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/snacks.rsi/fre-wrapper.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/snacks.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#134 Изменение требований по времени у некоторых гостролей.
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Roles/Antags/thief.yml
  Resources/Prototypes/Roles/Antags/wizard.yml
Labels: Changes: No C#, S: Approved, size/S

#167 Перенос скафандра волшебника в гримуар
  Resources/Locale/ru-RU/_deadspace/store/spellbook-catalog.ftl
  Resources/Maps/Shuttles/wizard.yml
  Resources/Prototypes/_DeadSpace/Catalog/Fills/Crates/antag.yml
  Resources/Prototypes/_DeadSpace/Catalog/spellbook_catalog.yml
Labels: Changes: Map, Changes: No C#, S: Approved, size/S, Changes: Localization

#196 Исправление геймрулов пиратов и волшебника
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: No C#, S: Approved

#184 Лисий хвостик метеора доступен слаймолюдам
  Resources/Prototypes/_ADT/Customization/Markings/foxtails.yml
Labels: Changes: No C#, S: Approved, size/XS

#231 Фонарь шлемов, РСУ СИ, рецепт маленьких вентиляторов
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/objects/tools/tools.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/fan.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_DeadSpace/RCD/rcd.yml
Labels: Changes: No C#, S: Approved, size/S, Changes: Localization

#270 [TWEAK] No RoundEnd Pacifization.
  Content.Server/Corvax/PeacefulRoundEnd/PeacefulRoundEndSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
Labels: S: Approved, size/S, Changes: C#

#267 Исправления по заказу спонсора
  Resources/Locale/ru-RU/_deadspace/datasets/toyspeech.ftl
  Resources/Prototypes/_DeadSpace/Datasets/toyspeech.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, S: Approved, size/S, Changes: Localization

#233 Фикс коллизии Блоба
  Content.Shared/Physics/CollisionGroup.cs
Labels: S: Approved, Changes: C#

#212 Возможность собрать органы в мусорный мешок
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/_DeadSpace/Body/Organs/ipc.yml
  Resources/Prototypes/_DeadSpace/Body/Organs/xenomorph.yml
Labels: Changes: No C#, S: Approved, size/S

#190 Фикс коррекции речи
  Content.Server/Speech/EntitySystems/ReplacementAccentSystem.cs
Labels: S: Approved, size/XS, Changes: C#

#301 Иммунитет от зомби и некро паучкам жужаса
  Resources/Prototypes/_DeadSpace/Spiders/spiders.yml
Labels: Changes: No C#, S: Approved, size/XS

#318 Revert aspid deletion
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/ds_aspid.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/aspid.yml
Labels: Changes: Map, size/XL, Changes: C#

#247 Убран стан борга криком паука
  Content.Server/DeadSpace/Abilities/StanRadius/StanRadiusSystem.cs
  Content.Shared/DeadSpace/Abilities/StunRadius/Components/StunRadiusComponent.cs
Labels: S: Approved, Changes: C#

#295 Фикс паука дрона и связующей паутины
  Resources/Prototypes/_DeadSpace/Spiders/antag.yml
  Resources/Prototypes/_DeadSpace/Spiders/spiders.yml
Labels: Changes: No C#, S: Approved, size/XS

#258 Spider terror
  Resources/Prototypes/_DeadSpace/Spiders/actions.yml
  Resources/Prototypes/_DeadSpace/Spiders/cocoon.yml
  Resources/Textures/_DeadSpace/Spiders/cocoon.rsi/SPIDER-WEBBING-1.png
  Resources/Textures/_DeadSpace/Spiders/cocoon.rsi/SPIDER-WEBBING-2.png
  Resources/Textures/_DeadSpace/Spiders/cocoon.rsi/SPIDER-WEBBING-3.png
  Resources/Textures/_DeadSpace/Spiders/cocoon.rsi/cocoon.png
  Resources/Textures/_DeadSpace/Spiders/cocoon.rsi/dead.png
  Resources/Textures/_DeadSpace/Spiders/cocoon.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S

#294 Paperwork update
  Resources/Locale/ru-RU/_deadspace/photocopier/paperwork.ftl
  Resources/Paperwork/Centcomm/15.xml
  Resources/Paperwork/Centcomm/16.xml
  Resources/Paperwork/CentcommOperator/2.xml
  Resources/Paperwork/Security/6.xml
  Resources/Prototypes/_DeadSpace/Entities/Paperwork/centcomm.yml
Labels: Changes: No C#, S: Approved, size/S, Changes: Localization

#320 Temp disable FootPrints
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/computer.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/kobolt.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/shark.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/xenomorph.yml
Labels: Changes: No C#, size/S

#324 Хотфикс Ларго
  Resources/Prototypes/_Corvax/Entities/Mobs/NPCs/pets.yml
Labels: Changes: No C#, S: Approved, size/XS

#332 Синхронизация правил сервера с обновлёнными правилами в Discord
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule1.xml
Labels: Changes: No C#, S: Approved, size/XS

#331 Миграция Typan -> Taipan
  Resources/migration.yml
Labels: Changes: No C#, S: Approved, size/S

#144 Добавление новых спрайтов в пояс и тележку уборщика, обновление спрайта пояса, изменение бс мешков для мусора
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
  Resources/Prototypes/Entities/Objects/Tools/light_replacer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/janicart.yml
  Resources/Prototypes/_DeadSpace/tags.yml
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/bottle_spray.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/cleaner_grenade.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/golden_plunger.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/holosign.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/light_replacer.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/meta.json
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/plunger.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/soap.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/soapsyndie.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/trashbag.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/trashbag_blue.png
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/wetfloorsign.png
  Resources/Textures/Clothing/Belt/janitor.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/janitor.rsi/icon.png
  Resources/Textures/Clothing/Belt/janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Belt/janitor.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_garbage_blue.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_plunger_golden.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/trashbag.rsi/blue-equipped-BELT.png
  Resources/Textures/Objects/Specific/Janitorial/trashbag.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Janitorial/trashbag.rsi/meta.json
Labels: Changes: Map, Changes: No C#, Changes: Sprites, Changes: UI, S: Approved, size/M, Changes: Localization, Changes: C#

#189 Добавлено картофельное пюре
  Resources/Prototypes/_DeadSpace/Entities/Objects/Consumable/Food/food.yml
  Resources/Prototypes/_DeadSpace/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mashed-potatoes.rsi/bowl.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mashed-potatoes.rsi/mashed-potatoes.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mashed-potatoes.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S

#329 Исправление аварийного лоадаута молей и обёрток от ВРП/ИРП
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Consumable/Food/snacks.yml
Labels: Changes: No C#, S: Approved, size/XS

#337 Исправление отображения модулей борга в руках
  Resources/Prototypes/_DeadSpace/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_DeadSpace/security_borg.yml
Labels: Changes: No C#, S: Approved

#340 Исправление шавухи
  Resources/Prototypes/_ADT/Entities/Objects/Consumable/Food/shawerma.yml
Labels: Changes: No C#, S: Approved, size/XS

#298 Omega update
  Resources/Maps/omega.yml
Labels: Changes: Map, Changes: No C#, S: Approved, size/XL

#346 Souyz TTS word replacements tweak
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: S: Approved, Changes: C#

#348 Апдейт заказа спонсора Kelic
  Resources/Locale/ru-RU/_deadspace/sponsor/kelic.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/kelic.yml
Labels: Changes: No C#, S: Approved, Changes: Localization

#198 Респрайт упаковщика
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Textures/Structures/Machines/flatpacker.rsi/base.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/inserting.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/meta.json
  Resources/Textures/Structures/Machines/flatpacker.rsi/packing.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/panel.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/screen.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/unlit.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S

#242 Титановая плитка
  Resources/Prototypes/_DeadSpace/Tiles/floors.yml
  Resources/Textures/_DeadSpace/Tiles/attributions.yml
  Resources/Textures/_DeadSpace/Tiles/titaniumtiles.png
Labels: Changes: No C#, S: Approved, size/S

#141 Кнопочка в меню правил
  Content.Client/Info/RulesControl.xaml
  Content.Client/Info/RulesControl.xaml.cs
  Content.Client/Info/RulesPopup.xaml
  Content.Client/Info/RulesPopup.xaml.cs
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRules.xml
Labels: Changes: UI, S: Approved, size/S, Changes: C#

#152 Крафты дренажа и раковин
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/drain.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/_DeadSpace/Recipes/Construction/Graphs/furniture/sink.yml
  Resources/Prototypes/_DeadSpace/Recipes/Construction/Graphs/utilities/drain.yml
  Resources/Prototypes/_DeadSpace/Recipes/Construction/furniture.yml
  Resources/Prototypes/_DeadSpace/Recipes/Construction/utilities.yml
Labels: Changes: No C#, S: Approved, size/M

#174 Изменение уборочных модулей, добавление мега-очистительного спрея
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Specific/Janitorial/spray.yml
Labels: Changes: No C#, S: Approved, size/S

#186 Доступы к консолям заказа у глав
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: No C#, S: Approved, size/S

#222 Отключение стана БСС при нахождении в лежачем положении
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: S: Approved, size/XS, Changes: C#

#344 Карманы для бригмеда
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvax/entities/clothing/outerclothing/vests.ftl
Labels: Changes: No C#, S: Approved, size/XS, Changes: Localization

#147 Реворк кадило
  Content.Server/DeadSpace/Censer/CenserComponent.cs
  Content.Server/DeadSpace/Censer/CenserSystem.cs
  Content.Shared/DeadSpace/Censer/CenserDoAfterEvent.cs
  Resources/Locale/ru-RU/_deadspace/chapel/censer.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/objects/specific/chapel/censer.ftl
  Resources/Prototypes/_DeadSpace/Entities/Objects/Specific/Chapel/censer.yml
Labels: S: Approved, size/M, Changes: Localization, Changes: C#
