Repository dead-space-server/space-station-14-fobos, pull requests merged in 2025-04, with the labels that each got.

#104 Even more random tweaks for sec resprite
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_DeadSpace/Entities/Clothing/Head/pilots.yml
  Resources/Textures/Clothing/Neck/mantles/hosmantle_shoulder.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/hosmantle_shoulder.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/hosmantle_shoulder.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/mantles/hosmantle_shoulder.rsi/inhand-right.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_security.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster39_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster3_contraband.png
Labels: Changes: No C#, Changes: Sprites, size/S

#32 Слоты для крушителя, глефы и пожарных топоров на спине
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/S, S: Needs Review

#35 Добавление шаттла пиратов в пул случайных шаттлов
  Resources/Locale/en-US/ss14-ru/prototypes/gamerules/unknown_shuttles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/gamerules/unknown_shuttles.ftl
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
Labels: Changes: No C#, size/S, Changes: Localization, S: Needs Review

#47 Добавление крафта урановых направленных окон
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: Changes: No C#, S: Approved, size/S

#40 Добавление причёски гранде без хвостика из предложки
  Resources/Locale/ru-RU/_deadspace/accessories/human-hair.ftl
  Resources/Prototypes/_DeadSpace/Customization/Markings/human_hair.yml.yml
  Resources/Textures/_DeadSpace/Mobs/Customization/human_hair.rsi/grandenotail.png
  Resources/Textures/_DeadSpace/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S, Changes: Localization

#44 Добавление печатей ведущих ролей и добавление технологии ПНВ
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/paper/stamp-component.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DeadSpace/Entities/Clothing/Eyes/pnv.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/Cargo/senior_salvage_specialist.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/Security/senior_officer.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-senior-engineer.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-senior-researcher.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-senior-salvage.png
  Resources/Textures/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-senior-engineer.png
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-senior-officer.png
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-senior-physician.png
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-senior-researcher.png
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-senior-salvage.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#48 Добавление старых причёсок "Плетения"
  Resources/Locale/ru-RU/_deadspace/accessories/human-hair.ftl
  Resources/Prototypes/_DeadSpace/Customization/Markings/human_hair.yml.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_DeadSpace/Mobs/Customization/human_hair.rsi/braid.png
  Resources/Textures/_DeadSpace/Mobs/Customization/human_hair.rsi/braid2.png
  Resources/Textures/_DeadSpace/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S, Changes: Localization

#50 Возврат крафта тайлов в резательный станок
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#52 Удаление отрядов: РХБЗЗ "Съерра", уборщики, инженеры.
  Resources/Locale/en-US/_deadspace/prototypes/entities/structures/wallmounts/ERTsigns.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/structures/wallmounts/ERTsigns.ftl
  Resources/Locale/ru-RU/ert-call/ert-call.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/_DeadSpace/ERTShuttles/cburn.yml
  Resources/Prototypes/_DeadSpace/ERTShuttles/ert.yml
  Resources/Prototypes/_DeadSpace/ERTTeams/ert_teams.yml
  Resources/Prototypes/_DeadSpace/Entities/Structures/Wallmounts/ERTsigns.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/CentComm/cburn.yml
  Resources/Textures/_DeadSpace/Structures/Wallmounts/ert.rsi/cburn_sierra.png
  Resources/Textures/_DeadSpace/Structures/Wallmounts/ert.rsi/meta.json
  Resources/migration.yml
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#56 Исправление спрайтов коробок с патронами на локализированные версии
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag-1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag-2.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag-3.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/practice.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/incendiary.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/mag-1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/mag-2.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/mag-3.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/practice.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/uranium.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/incendiary.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/incendiarydisplay.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/mag-1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/mag-2.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/practice.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/uranium.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/base-big.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/incendiary.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-2.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-3.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-big-1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-big-2.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-big-3.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/practice.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/uranium.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M

#99 Изменение должности на Silly Island
  Resources/Prototypes/Maps/silly.yml
Labels: Changes: Map, Changes: No C#, S: Approved, size/XS

#66 Доминаторский заказ Sil
  Resources/Prototypes/_DeadSpace/Sponsor/sil.yml
  Resources/Textures/_DeadSpace/Sponsor/Sil/backpack.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/backpack.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/backpack.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/backpack.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/backpack.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/belt.rsi/equipped-BELT.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/belt.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/belt.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/belt.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/belt.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/boots.rsi/equipped-FEET.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/boots.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/boots.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/boots.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/boots.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/eyes.rsi/equipped-EYES.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/eyes.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/eyes.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/eyes.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/eyes.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/gasmask.rsi/equipped-MASK.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/gasmask.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/gasmask.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/gasmask.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/gasmask.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/gloves.rsi/equipped-HAND.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/gloves.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/gloves.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/gloves.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/gloves.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/hardsuit.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/hardsuit.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/hardsuit.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/hardsuit.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/helmet.rsi/equipped-head-light.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/helmet.rsi/equipped-head-unshaded.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/helmet.rsi/equipped-head.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/helmet.rsi/icon-flash.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/helmet.rsi/icon-unshaded.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/helmet.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/helmet.rsi/light-overlay.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/helmet.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/pda.rsi/equipped-BELT.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/pda.rsi/equipped-IDCARD.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/pda.rsi/id_overlay.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/pda.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/pda.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/pda.rsi/insert_overlay.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/pda.rsi/light_overlay.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/pda.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/pda.rsi/pda.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/tank.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/tank.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/tank.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/tank.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/tank.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/tank.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M

#69 Уменьшение размеров спрайта мыла
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
Labels: Changes: No C#, S: Approved, size/XS

#62 Респрайт инъектора голопаразита
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/guardian_activators.yml
  Resources/Textures/_DeadSpace/Objects/Specific/Medical/holoparasite_injector.rsi/icon.png
  Resources/Textures/_DeadSpace/Objects/Specific/Medical/holoparasite_injector.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Specific/Medical/holoparasite_injector.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Objects/Specific/Medical/holoparasite_injector.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S

#89 Исправление требуемого онлайна карт
  Resources/Prototypes/Maps/Corvax/astra.yml
  Resources/Prototypes/Maps/Corvax/avrite.yml
  Resources/Prototypes/Maps/Corvax/delta.yml
  Resources/Prototypes/Maps/Corvax/paper.yml
  Resources/Prototypes/Maps/Corvax/spectrum.yml
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/barratry.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/convex.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/gemini.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/plasma.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/silly.yml
Labels: Changes: Map, Changes: No C#, size/S

#84 Исправление требований к количеству игроков у геймрулов
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: No C#, S: Approved, size/S

#92 Бронестекло, а не reinforced motherfockin' window
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/reinforced.ftl
Labels: Changes: No C#, S: Approved, size/XS, Changes: Localization

#73 Заказ божества Ainnetel
  Resources/Prototypes/_DeadSpace/Sponsor/3eilado_shadow.yml
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/angel.rsi/angel.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/angel.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/dark_butterfly.rsi/butterfly.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/dark_butterfly.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/jellyfish.rsi/dead.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/jellyfish.rsi/jellyfish.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/jellyfish.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/rabbit.rsi/dead.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/rabbit.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/rabbit.rsi/rabbit-moving.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/rabbit.rsi/rabbit.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/smoking.rsi/eye.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/smoking.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Mobs/smoking.rsi/smoking.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M

#39 Фикс кувшинов для напитков и ведра
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/_ADT/Entities/Objects/Consumable/Drinks/cup_and_teapot.yml
Labels: Changes: No C#, size/S, S: Needs Review

#46 Лёгкое исправление инвентарей хэппи хонков
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
Labels: Changes: No C#, S: Approved, size/S

#76 Заказ божества DragonFox
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/_DeadSpace/Sponsor/dragon_fox.yml
  Resources/Prototypes/_DeadSpace/Sponsor/dragon_fox_madparadox.yml
  Resources/Textures/_DeadSpace/Sponsor/DragonFox/dragonfox_plushie.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/DragonFox/dragonfox_plushie.rsi/plush_madparadox.png
  Resources/Textures/_DeadSpace/Sponsor/DragonFox/dragonfox_plushie.rsi/plush_medtech.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S

#78 Падение предметов после обращения в зомби
  Content.Server/Zombies/ZombieSystem.Transform.cs
Labels: S: Approved, size/XS, Changes: C#

#116 Footsteps hotfix
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: Changes: No C#, S: Approved, size/XS

#115 Сокращение названий должностей ЦК
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Resources/Locale/ru-RU/job/job-names.ftl
Labels: Changes: No C#, S: Approved, size/S, Changes: Localization, Changes: C#

#79 Мегасэндвич!
  Resources/Prototypes/_DeadSpace/Entities/Objects/Consumable/Food/food.yml
  Resources/Prototypes/_DeadSpace/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_DeadSpace/Recipes/Reactions/drinks.yml
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mega-sandwich.rsi/equipped-BELT.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mega-sandwich.rsi/equipped-HEAD.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mega-sandwich.rsi/icon-cut.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mega-sandwich.rsi/icon.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mega-sandwich.rsi/inhand-left-CUT.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mega-sandwich.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mega-sandwich.rsi/inhand-right-CUT.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mega-sandwich.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/mega-sandwich.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M

#117 Tweak RCD CE auto recharge time
  Resources/Prototypes/_DeadSpace/Entities/Objects/Tools/tools.yml
Labels: Changes: No C#, size/XS

#64 Правки ОППУ, ОПНУ и ОСЩ ЦК
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_DeadSpace/Necromorfs/cburn/cburn.yml
  Resources/Prototypes/_DeadSpace/Spiders/cburn/cburn.yml
  Resources/migration.yml
Labels: Changes: No C#, S: Approved, size/M, Changes: Localization

#82 Правки пауков ужаса и фелинидов
  Content.Server/DeadSpace/Abilities/Felinid/HairballComponent.cs
  Content.Server/DeadSpace/Necromorphs/InfectionDead/InitialNecroficationSystem.cs
  Content.Server/DeadSpace/Races/FelinidSystem.cs
  Content.Server/GameTicking/Rules/SpiderTerrorRuleSystem.cs
  Content.Shared/DeadSpace/Necromorphs/InfectionDead/Components/InitialNecroficationComponent.cs
  Resources/Prototypes/_DeadSpace/Spiders/cocoon.yml
  Resources/Prototypes/_DeadSpace/Spiders/gamerule.yml
  Resources/Prototypes/_DeadSpace/Spiders/princess.yml
  Resources/Prototypes/_DeadSpace/Spiders/queen.yml
Labels: S: Approved, size/M, Changes: C#

#90 Tweak time requirements for sith/renegate
  Resources/Prototypes/_DeadSpace/Sith/sith.yml
Labels: Changes: No C#, S: Approved, size/S

#113 Добавлен параметр nonlethal в HardsuitIdentification
  Content.Server/DeadSpace/HardsuitIdentification/HardsuitIdentificationComponent.cs
  Content.Server/DeadSpace/HardsuitIdentification/HardsuitIdentificationSystem.cs
Labels: S: Approved, size/S, Changes: C#

#77 Плюшевые игрушки администрации и экипажа по заказу божества Ainnetel
  Resources/Locale/ru-RU/_deadspace/datasets/toyspeech.ftl
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/_DeadSpace/Datasets/toyspeech.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DeadSpace/Sponsor/3eilado.yml
  Resources/Textures/_DeadSpace/Items/Toys/figurines.rsi/hqdishka.png
  Resources/Textures/_DeadSpace/Items/Toys/figurines.rsi/lua.png
  Resources/Textures/_DeadSpace/Items/Toys/figurines.rsi/meta.json
  Resources/Textures/_DeadSpace/Items/Toys/floran.rsi/meta.json
  Resources/Textures/_DeadSpace/Items/Toys/juggernaut.rsi/meta.json
  Resources/Textures/_DeadSpace/Items/Toys/lieutenant.rsi/meta.json
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/ahahaahahaha.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/ainnetel.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/alex.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/boich.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/cyberfox.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/dobryash.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/elizabeth.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/ellis.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/evelina.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/floran.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/hackslua.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/hqdishka.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/ips.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/iris.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/jeleshka.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/juggernaut.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/kermuth.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/kriss.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/lieutenant.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/lucius.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/meta.json
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/ostwind.png
  Resources/Textures/_DeadSpace/Items/Toys/misc.rsi/willie.png
  Resources/Textures/_DeadSpace/Items/Toys/plushie_ips.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#118 Доминаторский заказ Kelic
  Resources/Locale/ru-RU/_deadspace/sponsor/kelic.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/kelic.yml
  Resources/Textures/_DeadSpace/Sponsor/Kelic/backpack.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/backpack.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/backpack.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/backpack.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/backpack.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/belt.rsi/equipped-BELT.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/belt.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/belt.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/belt.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/belt.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/cloak.rsi/equipped-NECK.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/cloak.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/cloak.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/cloak.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/cloak.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/gasmask.rsi/equipped-MASK.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/gasmask.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/gasmask.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/gloves.rsi/equipped-HAND.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/gloves.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/gloves.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/gloves.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/gloves.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hardsuit.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hardsuit.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hardsuit.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hardsuit.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/helmet.rsi/icon-flash.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/helmet.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/helmet.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hud.rsi/equipped-EYES.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hud.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hud.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/jumpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/jumpsuit.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/jumpsuit.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/jumpsuit.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/jumpsuit.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/magboots.rsi/equipped-FEET.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/magboots.rsi/icon-on.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/magboots.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/magboots.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Kelic/magboots.rsi/on-equipped-FEET.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#112 Увеличение цены фрезона за моль
  Resources/Prototypes/Atmospherics/gases.yml
Labels: Changes: No C#, S: Approved, size/XS, Changes: C#

#109 Фикс кроватей и.. Одеяльца!
  Resources/Prototypes/Entities/Markers/Spawners/Random/bedsheet.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/bedsheets.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Recipes/Lathes/bedsheets.yml
  Resources/Prototypes/_ADT/Entities/Structures/Furniture/doublebed.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/_DeadSpace/Recipes/Lathes/Packs/bedsheets.yml
  Resources/Prototypes/_DeadSpace/Recipes/Lathes/bedsheets.yml
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetNT.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetUSA.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetblack.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetblue.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetbrigmedic.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetbrown.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetcaptain.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetce.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetcentcom.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetchap.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetclockwork.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetclown.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetcmo.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetcosmos.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetcult.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetgreen.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetgrey.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheethop.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheethos.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetian.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetmedical.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetmime.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetorange.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetpirate.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetpurple.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetqm.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetrainbow.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetrd.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetred.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetruntime.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetsyndie.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetwhite.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetwiz.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/double_sheetyellow.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/random_doublesheet.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/sheetchap.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/sheetclockwork.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/sheetpirate.png
  Resources/Textures/_DeadSpace/Objects/Misc/bedsheets.rsi/sheetruntime.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M

#121 Update locale
  Resources/Locale/en-US/_deadspace/prototypes/entities/objects/consumable/food/food.ftl
  Resources/Locale/en-US/_deadspace/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/en-US/_deadspace/prototypes/entities/objects/misc/bedsheets.ftl
  Resources/Locale/en-US/_deadspace/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/antimateriel.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/toyspeech.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/objects/consumable/food/food.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/objects/misc/bedsheets.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-wizard.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/scarfs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/cowtools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/paradoxclone.ftl
  Resources/Locale/ru-RU/store/spellbook-catalog.ftl
Labels: Changes: No C#, Changes: Localization

#126 Tweak Kelic sponsor kit
  Resources/Prototypes/_DeadSpace/Sponsor/kelic.yml
Labels: Changes: No C#, S: Approved, size/XS

#132 Фикс спавна фигурок
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
Labels: Changes: No C#, S: Approved

#131 [FIX] FootSteps OnMove rework
  Content.Server/Backmen/FootPrint/FootPrintsSystem.cs
Labels: S: Approved, size/S, Changes: C#

#139 Музыка для ивента
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/Berezina.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/Defeat.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/Four_Seasons(Winter).ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/Guts-And-Blackpowder-OST-Leipzig-Theme-The-Final-Push-Extended-Version.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/Ode_to_joy_finale.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/Victory.ogg
Labels: Changes: Audio, Changes: No C#, S: Approved, size/XS

#140 Исправления заказа Smoldering
  Resources/Locale/ru-RU/_deadspace/sponsor/smoldering.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/smoldering.yml
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S, Changes: Localization

#135 Фикс мегасэндвича
  Resources/Prototypes/_DeadSpace/Entities/Objects/Consumable/Food/food.yml
Labels: Changes: No C#, S: Approved

#136 Фикс слоя наложения одеялок
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Misc/bedsheets.yml
Labels: Changes: No C#, S: Approved

#102 Заказ божества, плюшевые игрушки
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/_DeadSpace/Sponsor/sil.yml
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/meta.json
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_aily.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_aizek.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_azrail.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_azrail_hardsuit.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_emilia.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_eva.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_krivazzora.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_sharp.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M

#71 Доминаторский заказ DragonFox
  Resources/Locale/ru-RU/_deadspace/sponsor/dragon_fox.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/dragon_fox.yml
  Resources/Textures/_DeadSpace/Sponsor/DragonFox/hypo.rsi/hypo.png
  Resources/Textures/_DeadSpace/Sponsor/DragonFox/hypo.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/DragonFox/rcd.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/DragonFox/rcd.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S, Changes: Localization

#149 Revert OuterClothing hide PDA and belt sprites under it
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Changes: No C#

#119 More secret doors
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/structures/doors/secretdoor/secret_door.ftl
  Resources/Prototypes/Recipes/Construction/Graphs/structures/secretdoor.yml
  Resources/Prototypes/_DeadSpace/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/_DeadSpace/Recipes/Construction/structures.yml
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/brass_secret_door.rsi/closed.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/brass_secret_door.rsi/closing.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/brass_secret_door.rsi/meta.json
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/brass_secret_door.rsi/open.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/brass_secret_door.rsi/opening.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/gold_secret_door.rsi/closed.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/gold_secret_door.rsi/closing.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/gold_secret_door.rsi/meta.json
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/gold_secret_door.rsi/open.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/gold_secret_door.rsi/opening.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/reinforced_secret_door.rsi/closed.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/reinforced_secret_door.rsi/closing.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/reinforced_secret_door.rsi/meta.json
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/reinforced_secret_door.rsi/open.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/reinforced_secret_door.rsi/opening.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/silver_secret_door.rsi/closed.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/silver_secret_door.rsi/closing.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/silver_secret_door.rsi/meta.json
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/silver_secret_door.rsi/open.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/silver_secret_door.rsi/opening.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/wood_secret_door.rsi/closed.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/wood_secret_door.rsi/closing.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/wood_secret_door.rsi/meta.json
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/wood_secret_door.rsi/open.png
  Resources/Textures/_DeadSpace/Structures/Doors/SecretDoors/wood_secret_door.rsi/opening.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#145 Исправление и дополнение плюшек по заказу
  Resources/Locale/ru-RU/_deadspace/datasets/toyspeech.ftl
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/_DeadSpace/Datasets/toyspeech.yml
  Resources/Prototypes/_DeadSpace/Sponsor/sil.yml
Labels: Changes: No C#, S: Approved, size/M, Changes: Localization

#146 Документ ЦК для nikitafuji1515 и правка РСУ DragonFox
  Resources/Locale/ru-RU/_deadspace/sponsor/nikitafuji1515.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/dragon_fox.yml
  Resources/Prototypes/_DeadSpace/Sponsor/nikitafuji1515.yml
Labels: Changes: No C#, S: Approved, size/S, Changes: Localization

#159 Spider terror fixes
  Resources/Prototypes/_DeadSpace/Spiders/cocoon.yml
  Resources/Prototypes/_DeadSpace/Spiders/queen.yml
Labels: Changes: No C#, S: Approved, size/S

#163 Респрайт гранде без хвостика
  Resources/Textures/_DeadSpace/Mobs/Customization/human_hair.rsi/grandenotail.png
Labels: Changes: No C#, Changes: Sprites, S: Approved

#155 Дополнение заказа доминатора Sil
  Resources/Locale/ru-RU/_deadspace/sponsor/Sil.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/sil.yml
  Resources/Textures/_DeadSpace/Sponsor/Sil/boots.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/boots.rsi/on-equipped-FEET.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/jawsoflife.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/jawsoflife.rsi/syn_inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/jawsoflife.rsi/syn_inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/jawsoflife.rsi/syn_jaws_cutter.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/jawsoflife.rsi/syn_jaws_pry.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#151 Луна больше не уничтожает все слои
  Resources/Prototypes/_DeadSpace/Necromorfs/moon.yml
Labels: Changes: No C#, S: Approved, size/XS

#166 Правки доминатора nikitafuji1515
  Resources/Prototypes/_DeadSpace/Sponsor/nikitafuji1515.yml
  Resources/Textures/_DeadSpace/Sponsor/nikitafuji1515/scirt.rsi/equipped-INNERCLOTHING.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S, Changes: Localization

#154 Мед-Тех и скафандр для божества Wisdom
  Resources/Locale/ru-RU/_deadspace/sponsor/trauma_team.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/TraumaTeam_Wisdom/wisdom_trauma_team_belt.yml
  Resources/Prototypes/_DeadSpace/Sponsor/TraumaTeam_Wisdom/wisdom_trauma_team_hardsuit.yml
  Resources/Prototypes/_DeadSpace/Sponsor/TraumaTeam_Wisdom/wisdom_trauma_team_misc.yml
  Resources/Prototypes/_DeadSpace/Sponsor/TraumaTeam_Wisdom/wisdom_trauma_team_smgs.yml
  Resources/Prototypes/_DeadSpace/Sponsor/wisdom_rd.yml
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/helmetmed.rsi/icon-flash.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/helmetmed.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/helmetmed.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/helmetmed.rsi/off-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/helmetmed.rsi/on-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/helmetsec.rsi/icon-flash.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/helmetsec.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/helmetsec.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/helmetsec.rsi/off-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/helmetsec.rsi/on-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/holster.rsi/equipped-BELT.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/holster.rsi/equipped-NECK.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/holster.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/holster.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/holster.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/holster.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/weapon.rsi/base.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/weapon.rsi/bolt-open.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/weapon.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/weapon.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/weapon.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/weapon.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/weapon.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/weapon.rsi/mag-0.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/TraumaTeam/weapon.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/rd/hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/rd/hardsuit.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/rd/hardsuit.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/rd/hardsuit.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/rd/hardsuit.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/rd/helmet.rsi/icon-flash.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/rd/helmet.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/rd/helmet.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/rd/helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/Wisdom/rd/helmet.rsi/on-equipped-HELMET.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#172 Add support of secret (not so) playtime server and interfaces small cleanup
  Content.Server/Database/ServerDbBase.cs
  DeadSpace/Content.DeadSpace.Interfaces.Client/IClientSponsorsManager.cs
  DeadSpace/Content.DeadSpace.Interfaces.Server/Content.DeadSpace.Interfaces.Server.csproj
  DeadSpace/Content.DeadSpace.Interfaces.Server/IServerChatFilter.cs
  DeadSpace/Content.DeadSpace.Interfaces.Server/IServerPlayTimeManager.cs
  DeadSpace/Content.DeadSpace.Interfaces.Server/IServerSponsorsManager.cs
  DeadSpace/Content.DeadSpace.Interfaces.Shared/ISharedSponsorsManager.cs
Labels: size/S, Changes: C#

#173 Update words replacements
  Resources/Locale/ru-RU/_deadspace/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: No C#, size/M, Changes: Localization

#170 Переименовка Мед-Тех -> TTI
  Resources/Locale/ru-RU/_deadspace/sponsor/trauma_team.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/TraumaTeam_Wisdom/wisdom_trauma_team_belt.yml
  Resources/Prototypes/_DeadSpace/Sponsor/TraumaTeam_Wisdom/wisdom_trauma_team_hardsuit.yml
  Resources/Prototypes/_DeadSpace/Sponsor/TraumaTeam_Wisdom/wisdom_trauma_team_misc.yml
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S, Changes: Localization

#171 Гипоспрей и изменение фонарика у шлема для Kelic
  Resources/Prototypes/_DeadSpace/Sponsor/kelic.yml
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hypo.rsi/hypo.png
  Resources/Textures/_DeadSpace/Sponsor/Kelic/hypo.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved

#165 Add sec pilot to Amber Station
  Resources/Prototypes/Maps/amber.yml
Labels: Changes: Map, Changes: No C#, S: Approved

#124 Изменение РСУ СИ
  Resources/Prototypes/_DeadSpace/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_DeadSpace/RCD/rcd.yml
Labels: Changes: No C#, S: Approved

#178 Рефлект лазерному автомату и доминатору
  Resources/Prototypes/_DeadSpace/Entities/Objects/Weapons/Guns/Battery/dominator.yml
Labels: Changes: No C#, S: Approved, size/XS

#177 Исправление онлайна крупных карт
  Resources/Prototypes/Maps/Corvax/avrite.yml
  Resources/Prototypes/Maps/Corvax/delta.yml
  Resources/Prototypes/Maps/Corvax/spectrum.yml
Labels: Changes: Map, Changes: No C#, S: Approved

#54 Экспериментальная Лазерная Винтовка
  Resources/Prototypes/_DeadSpace/Entities/Objects/Weapons/Guns/Battery/cartridge_laser_rifle.yml
  Resources/Prototypes/_DeadSpace/tags.yml
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Magazine/energycartridge.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Magazine/energycartridge.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Magazine/energycartridge.rsi/o1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Ammunition/Magazine/energycartridge.rsi/o2.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/icon.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/mag-unshaded-0.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/mag-unshaded-1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/mag-unshaded-2.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/mag-unshaded-3.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/wielded-inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/clr.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#142 Mutilated corpse
  Content.Server/DeadSpace/MutilatedCorpse/MutilatedCorpseComponent.cs
  Content.Server/DeadSpace/MutilatedCorpse/MutilatedCorpseSystem.cs
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/mobs/species/mutilated_corpse.ftl
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/kobalt.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/shark.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/vulpkanin.yml
Labels: S: Approved, size/M, Changes: Localization, Changes: C#

#158 Fix global RND servers
  Content.Server/Research/Systems/ResearchSystem.Client.cs
  Content.Server/Research/Systems/ResearchSystem.cs
Labels: S: Approved, size/S, Changes: C#

#179 Revert "Mutilated corpse (#142)"
  Content.Server/DeadSpace/MutilatedCorpse/MutilatedCorpseComponent.cs
  Content.Server/DeadSpace/MutilatedCorpse/MutilatedCorpseSystem.cs
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/mobs/species/mutilated_corpse.ftl
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/kobalt.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/shark.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/vulpkanin.yml
Labels: size/M, Changes: Localization, Changes: C#
