Repository dead-space-server/space-station-14-fobos, pull requests merged in 2025-09, with the labels that each got.

#469 Баланс скафа DragonFox
  Resources/Prototypes/_DeadSpace/Sponsor/dragon_fox.yml
Labels: Changes: No C#, S: Approved

#442 Ивентовая музыка Ивент-Мастера ex1stenz
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/beengoodtoknowya.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/cyberpsychosis.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/dancinginthedark.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/kraiobetovani.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/nebbia.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/pm_heavenflowers.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/pm_shkolanenuzhna.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/pm_tvoimpesikom.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/rebelpathcello.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/siluet.ogg
  Resources/Audio/_DeadSpace/TEMP_FOR_EVENT/ex1music/unslept.ogg
Labels: Changes: Audio, Changes: No C#, S: Approved

#472 Расширение UI новых/обновлённых консолей, перестановка в UI музыкальных инструментов
  Content.Client/Cargo/UI/CargoBountyMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/CloningConsole/UI/CloningConsoleWindow.xaml
  Content.Client/Instruments/UI/InstrumentMenu.xaml
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
  Content.Client/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/Salvage/UI/SalvageJobBoardMenu.xaml
Labels: Changes: UI, S: Approved, Changes: C#

#475 Фикс и обновление новых (и не только) тайлов
  Resources/Locale/en-US/_deadspace/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/_deadspace/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/_deadspace/stack/stacks.ftl
  Resources/Locale/ru-RU/_deadspace/tiles.ftl
  Resources/Locale/ru-RU/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/stack/stacks.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_DeadSpace/Recipes/Lathes/categories.yml
  Resources/Prototypes/_DeadSpace/Recipes/Lathes/tiles.yml
  Resources/Prototypes/_DeadSpace/Tiles/floors.yml
Labels: Changes: No C#, S: Approved, Changes: Localization

#482 Пропустил немножко локализации, исправил
  Resources/Locale/ru-RU/actions/actions/diona.ftl
  Resources/Locale/ru-RU/administration/commands/connection-commands.ftl
  Resources/Locale/ru-RU/animals/udder/udder-system.ftl
  Resources/Locale/ru-RU/commands/hide-mechanisms-command.ftl
  Resources/Locale/ru-RU/commands/makesentient-command.ftl
  Resources/Locale/ru-RU/commands/remove-extra-components-command.ftl
  Resources/Locale/ru-RU/commands/set-battery-percent-command.ftl
  Resources/Locale/ru-RU/components/screen-component.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Locale/ru-RU/cvar/cvar-help.ftl
  Resources/Locale/ru-RU/doors/components/turnstile.ftl
  Resources/Locale/ru-RU/engineering/inflatables.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/set-game-preset-command.ftl
  Resources/Locale/ru-RU/health-examinable/health-examinable-silicon.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/inventory/components/slot-block-component.ftl
  Resources/Locale/ru-RU/job/loadouts.ftl
  Resources/Locale/ru-RU/kitchen/components/kitchen-spike-component.ftl
  Resources/Locale/ru-RU/lathe/lathesystem.ftl
  Resources/Locale/ru-RU/light/components/expendable-light-component.ftl
  Resources/Locale/ru-RU/lobby/lobby-state.ftl
  Resources/Locale/ru-RU/logic-gates/logic-gates.ftl
  Resources/Locale/ru-RU/mapping/mapping-command.ftl
  Resources/Locale/ru-RU/maps/planet.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/materials/material-extractor.ftl
  Resources/Locale/ru-RU/movement/pulling.ftl
  Resources/Locale/ru-RU/nutrition/components/openable-component.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-person.ftl
  Resources/Locale/ru-RU/paper/book-authorbooks.ftl
  Resources/Locale/ru-RU/power/commands.ftl
  Resources/Locale/ru-RU/power/teg.ftl
  Resources/Locale/ru-RU/preferences/ui/markings-picker.ftl
  Resources/Locale/ru-RU/replays/replays.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/space.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/spacetick.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/shuttleroles/roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/folders.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/wireless_surveillance_camera.ftl
  Resources/Locale/ru-RU/subfloor/subfloor.ftl
  Resources/Locale/ru-RU/triggers/rattle-on-trigger.ftl
Labels: Changes: No C#, S: Approved, size/M, Changes: Localization

#483 Микро фикс КПБ/С
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/computer.yml
Labels: Changes: No C#, S: Approved, size/XS

#431 [MAPS] Packed update
  Resources/Maps/packed.yml
Labels: Changes: Map, Changes: No C#, S: Approved

#488 paramedic helmet fix, epsilon
  Resources/Audio/_DeadSpace/AlertLevels/epsilon.ogg
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-light-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-light.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/light-overlay.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/meta.json
Labels: Changes: Audio, Changes: No C#, Changes: Sprites, S: Needs Review

#495 Микрофикс датасетов
  Resources/Locale/en-US/ss14-ru/prototypes/_corvax/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/datasets/names/diona_last.ftl
  Resources/Locale/ru-RU/datasets/names/first.ftl
  Resources/Locale/ru-RU/datasets/names/first_female.ftl
  Resources/Locale/ru-RU/datasets/names/first_male.ftl
  Resources/Locale/ru-RU/datasets/names/mushman_first.ftl
  Resources/Locale/ru-RU/tips.ftl
  Resources/Prototypes/Datasets/Names/ai.yml
  Resources/Prototypes/Datasets/Names/borg.yml
  Resources/Prototypes/Datasets/Names/cargo_shuttle.yml
  Resources/Prototypes/Datasets/Names/diona.yml
  Resources/Prototypes/Datasets/Names/mushman_first.yml
  Resources/Prototypes/Datasets/Names/ninja.yml
  Resources/Prototypes/Datasets/Names/operation.yml
  Resources/Prototypes/Datasets/Names/revenant.yml
  Resources/Prototypes/Datasets/criminal_records.yml
  Resources/Prototypes/_Corvax/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_DeadSpace/Datasets/toyspeech.yml
Labels: Changes: No C#, S: Approved, size/L, Changes: Localization

#497 Микрофикс датасетов 2
  Resources/Locale/en-US/datasets/names/first.ftl
  Resources/Locale/en-US/datasets/names/first_female.ftl
  Resources/Locale/en-US/datasets/names/first_male.ftl
  Resources/Locale/en-US/tips.ftl
  Resources/Locale/ru-RU/spray-painter/spray-painter.ftl
  Resources/Prototypes/Datasets/criminal_records.yml
Labels: Changes: No C#, S: Approved, size/L, Changes: Localization

#499 Недостающие спрайты синего джетпака СБ
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/equipped-BACKPACK-dog.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/equipped-SUITSTORAGE-dog.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/icon-on.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/icon.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/inhand-left.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/inhand-right.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/on-equipped-BACKPACK-dog.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/on-equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/on-equipped-SUITSTORAGE-dog.png
  Resources/Textures/Objects/Tanks/Jetpacks/security.rsi/on-equipped-SUITSTORAGE.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/XS

#498 Проверка количества на сервере, а не готовых. 1984
  Content.Server/GameTicking/Rules/GameRuleSystem.cs
  Content.Shared/DeadSpace/CCCCVars/CCCCVars.cs
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
Labels: S: Approved, size/S, Changes: Localization, Changes: C#

#510 Fix spiders
  Content.Shared/DeadSpace/Abilities/Egg/Components/EggComponent.cs
  Content.Shared/DeadSpace/Abilities/Egg/SharedEggSystem.cs
  Content.Shared/EntityEffects/Effects/CauseEgg.cs
  Resources/Prototypes/_DeadSpace/Spiders/reagents.yml
Labels: S: Approved, size/S, Changes: C#

#494 Изменение резистов и копирайта спонсоров
  Resources/Prototypes/_DeadSpace/Sponsor/reimon.yml
  Resources/Prototypes/_DeadSpace/Sponsor/whoto.yml
  Resources/Textures/_DeadSpace/Sponsor/qu0565/backpack.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/qu0565/belt.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/qu0565/hardsuit.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/qu0565/helmet.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/qu0565/jetpack.rsi/meta.json
Labels: Changes: No C#, S: Approved, size/S

#505 Удаление из генератора абсурдных имён/фамилий Вульпканинов/Плафеимов
  Resources/Locale/ru-RU/_deadspace/datasets/names/shark_first_female.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/shark_first_male.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/shark_last.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/vulp_first_female.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/vulp_first_male.ftl
  Resources/Locale/ru-RU/_deadspace/datasets/names/vulp_last.ftl
  Resources/Prototypes/_DeadSpace/Datasets/Names/first_female_shark.yml
  Resources/Prototypes/_DeadSpace/Datasets/Names/first_female_vulp.yml
  Resources/Prototypes/_DeadSpace/Datasets/Names/first_male_shark.yml
  Resources/Prototypes/_DeadSpace/Datasets/Names/first_male_vulp.yml
  Resources/Prototypes/_DeadSpace/Datasets/Names/last_shark.yml
  Resources/Prototypes/_DeadSpace/Datasets/Names/last_vulp.yml
Labels: Changes: No C#, S: Approved, size/L, Changes: Localization

#515 Спонсорский заказ Sil
  Resources/Locale/ru-RU/_deadspace/datasets/toyspeech.ftl
  Resources/Locale/ru-RU/_deadspace/sponsor/Sil.ftl
  Resources/Prototypes/_DeadSpace/Datasets/toyspeech.yml
  Resources/Prototypes/_DeadSpace/Sponsor/sil.yml
  Resources/Prototypes/_DeadSpace/Sponsor/thezuti.yml
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/meta.json
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_aleksey.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_arevin.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_elena.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_flem.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_kiana.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_marry.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_mei.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_mila.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_muren.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_riza.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_rygoslav.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_sai.png
  Resources/Textures/_DeadSpace/Items/Toys/sil_plushie.rsi/plushie_zhdan.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/black_cloak.rsi/equipped-NECK.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/black_cloak.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/black_cloak.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/black_cloak.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/black_cloak.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/black_gasmask.rsi/equipped-MASK.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/black_gasmask.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/black_gasmask.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/crusher.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/crusher.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/crusher.rsi/icon-lit.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/crusher.rsi/icon-uncharged.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/crusher.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/crusher.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/crusher.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/crusher.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/crusher.rsi/wielded-inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/crusher.rsi/wielded-inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/ring_f.rsi/equipped-HAND.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/ring_f.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/ring_f.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/ring_f.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/ring_f.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Sil/ring_m.rsi/equipped-HAND.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/ring_m.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/ring_m.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/ring_m.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/Sil/ring_m.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/TheZuTi/tools_mineralscanner.rsi/inhand-left-adv.png
  Resources/Textures/_DeadSpace/Sponsor/TheZuTi/tools_mineralscanner.rsi/inhand-right-adv.png
  Resources/Textures/_DeadSpace/Sponsor/TheZuTi/tools_mineralscanner.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#419 13 new lobby art's
  Resources/Prototypes/_DeadSpace/lobbyscreens.yml
  Resources/Textures/LobbyScreens/Fobos/attributions.yml
  Resources/Textures/LobbyScreens/Fobos/doner_carps.webp
  Resources/Textures/LobbyScreens/Fobos/doner_carps.yml
  Resources/Textures/LobbyScreens/Fobos/doner_darkrain.webp
  Resources/Textures/LobbyScreens/Fobos/doner_darkrain.yml
  Resources/Textures/LobbyScreens/Fobos/doner_ellis.webp
  Resources/Textures/LobbyScreens/Fobos/doner_ellis.yml
  Resources/Textures/LobbyScreens/Fobos/doner_girlfriends.webp
  Resources/Textures/LobbyScreens/Fobos/doner_girlfriends.yml
  Resources/Textures/LobbyScreens/Fobos/doner_hopfrontier.webp
  Resources/Textures/LobbyScreens/Fobos/doner_hopfrontier.yml
  Resources/Textures/LobbyScreens/Fobos/doner_paramedic.webp
  Resources/Textures/LobbyScreens/Fobos/doner_paramedic.yml
  Resources/Textures/LobbyScreens/Fobos/doner_psyhologist.webp
  Resources/Textures/LobbyScreens/Fobos/doner_psyhologist.yml
  Resources/Textures/LobbyScreens/Fobos/doner_ratcatcher.webp
  Resources/Textures/LobbyScreens/Fobos/doner_ratcatcher.yml
  Resources/Textures/LobbyScreens/Fobos/doner_rocket.webp
  Resources/Textures/LobbyScreens/Fobos/doner_rocket.yml
  Resources/Textures/LobbyScreens/Fobos/doner_science.webp
  Resources/Textures/LobbyScreens/Fobos/doner_science.yml
  Resources/Textures/LobbyScreens/Fobos/doner_sisters.webp
  Resources/Textures/LobbyScreens/Fobos/doner_sisters.yml
  Resources/Textures/LobbyScreens/Fobos/doner_smokebreak.webp
  Resources/Textures/LobbyScreens/Fobos/doner_smokebreak.yml
  Resources/Textures/LobbyScreens/Fobos/doner_violence.webp
  Resources/Textures/LobbyScreens/Fobos/doner_violence.yml
Labels: Changes: No C#, S: Approved, size/M

#394 Изменение аплинка и лоадаутов ЯО: Синди-шейкер, визор агента, пинпоинтер боеголовки, замена гипо-ручки киберсан гипоспреем
  Resources/Locale/ru-RU/_deadspace/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/_ADT/Entities/Objects/Specific/cyberhypo.yml
  Resources/Prototypes/_DeadSpace/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Devices/pinpointer.yml
  Resources/Textures/_DeadSpace/Objects/Consumable/Drinks/syndie_shaker.rsi/base-unshaded.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Drinks/syndie_shaker.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Drinks/syndie_shaker.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Devices/pinpointer.rsi/pinpointer-syndicate.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#522 Walls and airlocks small HP rebalance
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: Changes: No C#, S: Approved, size/XS

#480 Ключ шифрования Юр-Ком
  Resources/Prototypes/_Corvax/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Devices/encryption_keys.yml
  Resources/Textures/Objects/Devices/encryption_keys.rsi/lawcommand_label.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S

#328 Ионная винтовка [ADD]
  Resources/Audio/_DeadSpace/Weapons/Guns/Gunshots/ion_rifle.ogg
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Weapons/Guns/Battery/ion_rifle.yml
  Resources/Prototypes/_DeadSpace/Recipes/Lathes/security.yml
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/icon.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/mag-unshaded-0.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/mag-unshaded-1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/mag-unshaded-2.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/mag-unshaded-3.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/mag-unshaded-4.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/wielded-inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/ion_rifle.rsi/wielded-inhand-right.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Projectiles/ion.rsi/ion.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Projectiles/ion.rsi/meta.json
Labels: Changes: Audio, Changes: No C#, Changes: Sprites, S: Approved, size/M

#355 Переработка икры
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Consumable/Food/food.yml
  Resources/Prototypes/_DeadSpace/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/black-on-bread.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/black.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/bread-slice.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/green-on-bread.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/green.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/holo-on-bread.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/holo.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/icon.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/magic-on-bread.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/magic.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/on-bread.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/white-on-bread.png
  Resources/Textures/_DeadSpace/Objects/Consumable/Food/caviar.rsi/white.png
Labels: Changes: No C#, Changes: Sprites, size/M, S: Needs Review

#422 Переработка расы "Ксеноморф"
  Resources/Locale/ru-RU/_deadspace/metabolism/metabolizer-types.ftl
  Resources/Locale/ru-RU/_deadspace/reagents/meta/biological.ftl
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_DeadSpace/Body/Organs/xenomorph.yml
  Resources/Prototypes/_DeadSpace/Body/Prototypes/xenomorph.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/xenomorph.yml
  Resources/Prototypes/_DeadSpace/Necromorphs/necromorfs.yml
  Resources/Prototypes/_DeadSpace/Reagents/biological.yml
  Resources/Textures/_DeadSpace/Sponsor/Mobs/Species/Xenomorph/organs.rsi/brain_xeno.png
  Resources/Textures/_DeadSpace/Sponsor/Mobs/Species/Xenomorph/organs.rsi/eyes_xeno.png
  Resources/Textures/_DeadSpace/Sponsor/Mobs/Species/Xenomorph/organs.rsi/heart_xeno.png
  Resources/Textures/_DeadSpace/Sponsor/Mobs/Species/Xenomorph/organs.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/Mobs/Species/Xenomorph/organs.rsi/stomach_xeno.png
  Resources/Textures/_DeadSpace/Sponsor/Mobs/Species/Xenomorph/organs.rsi/tongue_xeno.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#471 Centcomm spawners tweaks
  Resources/Locale/ru-RU/_deadspace/customizable-humanoid-spawner/loadouts.ftl
  Resources/Locale/ru-RU/_deadspace/preferences/loadout-groups.ftl
  Resources/Prototypes/_DeadSpace/CustomizableHumanoidSpawner/centcomm/administrator.yml
  Resources/Prototypes/_DeadSpace/CustomizableHumanoidSpawner/centcomm/blueshield.yml
  Resources/Prototypes/_DeadSpace/CustomizableHumanoidSpawner/centcomm/magistrat.yml
  Resources/Prototypes/_DeadSpace/CustomizableHumanoidSpawner/centcomm/officer.yml
  Resources/Prototypes/_DeadSpace/CustomizableHumanoidSpawner/centcomm/official.yml
  Resources/Prototypes/_DeadSpace/CustomizableHumanoidSpawner/centcomm/operator.yml
  Resources/Prototypes/_DeadSpace/CustomizableHumanoidSpawner/centcomm/special_operations_officer.yml
  Resources/Prototypes/_DeadSpace/CustomizableHumanoidSpawner/cuztomizable_spawner.yml
  Resources/Prototypes/_DeadSpace/CustomizableHumanoidSpawner/loadouts.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/CentComm/administrator.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/CentComm/centcomblueshieldofficer.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/CentComm/magistrate.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/CentComm/officer.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/CentComm/operator.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/CentComm/specialoperationsofficer.yml
Labels: Changes: No C#, S: Approved, size/M, Changes: Localization

#254 Доработка/Переработка ЭС (оружие, коробки неопределённости, импланты)
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/ertloadouts.ftl
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/_DeadSpace/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pulse.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Weapons/Guns/Battery/pulse_shotgun.yml
  Resources/Prototypes/_DeadSpace/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_DeadSpace/Entities/Other/ertloadouts.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Textures/_DeadSpace/Objects/Weapons/Bombs/x4.rsi/equipped-HELMET.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Bombs/x4.rsi/icon.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Bombs/x4.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Bombs/x4.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Bombs/x4.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Bombs/x4.rsi/primed.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun.rsi/icon.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun.rsi/mag-unshaded-1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun.rsi/mag-unshaded-2.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun.rsi/mag-unshaded-3.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun.rsi/mag-unshaded-4.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun_inhands_64x.rsi/energy-inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun_inhands_64x.rsi/energy-inhand-right.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun_inhands_64x.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun_inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Battery/pulse_shotgun_inhands_64x.rsi/wielded-inhand-right.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Projectiles/pulse.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Projectiles/pulse.rsi/pulse0.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Projectiles/pulse.rsi/pulse0_bl.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Projectiles/pulse.rsi/pulse1.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Projectiles/pulse.rsi/pulse1_bl.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Projectiles/pulse.rsi/pulse_taser.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/base.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/bolt-open.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/equipped-BACKPACK.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/icon.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/mag-0.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/meta.json
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/wielded-inhand-left.png
  Resources/Textures/_DeadSpace/Objects/Weapons/Guns/Shotguns/hammerhead.rsi/wielded-inhand-right.png
  Resources/Textures/_DeadSpace/Other/ertloadouts/ertboxes.rsi/deathsquad.png
  Resources/Textures/_DeadSpace/Other/ertloadouts/ertboxes.rsi/meta.json
  Resources/Textures/_DeadSpace/Other/ertloadouts/ertcases.rsi/deathsquad.png
  Resources/Textures/_DeadSpace/Other/ertloadouts/ertcases.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#411 TG Пожарный атмос-костюм и шлем
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/atmos_firehelmet.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/equipped-OUTERCLOTHING-dog.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M

#525 Revert "Thieves can innately pickpocket - thieving gloves rework"
  Content.Shared/Strip/Components/ThievingComponent.cs
  Content.Shared/Strip/ThievingSystem.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
  Resources/Prototypes/Roles/Antags/thief.yml
  Resources/Textures/Interface/Alerts/stealthy.rsi/meta.json
  Resources/Textures/Interface/Alerts/stealthy.rsi/stealthy-off.png
  Resources/Textures/Interface/Alerts/stealthy.rsi/stealthy-on.png
Labels: Changes: Sprites, size/M, Changes: Localization, Changes: C#, S: Needs Review

#527 Tweak comms console TTS
  Content.Server/Communications/CommunicationsConsoleSystem.cs
Labels: size/XS, Changes: C#

#529 Забыл про резисты шлема
  Resources/Prototypes/_DeadSpace/Entities/Clothing/Head/security_helmets.yml
Labels: Changes: No C#, S: Approved

#537 Fix emotes blacklists
  Resources/Prototypes/_DeadSpace/Voice/speech_emotes.yml
Labels: Changes: No C#, size/S, S: Needs Review

#538 Three small fixes
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Server/DeadSpace/Necromorphs/InfectionDead/NecromorfSystem.Transform.cs
  Content.Shared/DeadSpace/CCCCVars/CCCCVars.cs
Labels: size/S, Changes: C#, S: Needs Review

#547 Фикс: Таймеры на гранатах снова показывают секунды
  Resources/Locale/ru-RU/triggers/timer-trigger.ftl
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
  Resources/Locale/ru-RU/weapons/grenades/voice-trigger.ftl
Labels: Changes: No C#, S: Approved, size/S, Changes: Localization, Changes: C#

#557 Исправление документа Жалоба на нарушение трудового порядка
  Resources/Paperwork/Law/1.xml
Labels: Changes: No C#, S: Approved, size/XS

#558 Исправление документа Доверенность
  Resources/Paperwork/Law/8.xml
Labels: Changes: No C#, S: Approved, size/XS

#559 Исправление документа Отчёт о нарушении трудового порядка
  Resources/Paperwork/Law/10.xml
Labels: Changes: No C#, S: Approved, size/XS
