Repository dead-space-server/space-station-14-fobos, pull requests merged in 2025-02, with the labels that each got.

#6 Добавление подсветки авд в рации
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Labels: size/XS, S: Needs Review

#2 Исправление закрытия шлюзов без питания
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: size/S, S: Needs Review

#9 Delete Aspid Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/ds_aspid.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/aspid.yml
Labels: Changes: Map

#10 Изменение должностей на Plasma Station
  Resources/Prototypes/Maps/plasma.yml
Labels: Changes: Map, Changes: No C#, size/XS, S: Needs Review

#11 Revert "Исправление закрытия шлюзов без питания (#2)"
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: Changes: C#

#14 Рокировка Матебы и Кольта в лодаутах
  Resources/Prototypes/_DeadSpace/Entities/Other/ertloadouts.yml
Labels: Changes: No C#, S: Approved, size/XS

#12 Изменение должности на Silly Island
  Resources/Prototypes/Maps/silly.yml
Labels: Changes: Map, Changes: No C#, S: Approved

#16 Убрана автозамена !! на OwO и тд
  Content.Server/Speech/EntitySystems/OwOAccentSystem.cs
Labels: S: Approved, size/XS, Changes: C#

#18 Исправление нижнего белья ОСЩ
  Resources/Locale/en-US/_deadspace/prototypes/entities/clothing/underwear/socks.ftl
  Resources/Locale/ru-RU/_deadspace/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/clothing/underwear/socks.ftl
  Resources/Prototypes/_DeadSpace/Entities/Clothing/Underwear/socks.yml
  Resources/Prototypes/_DeadSpace/Loadouts/Jobs/Command/officer_blue_shield.yml
  Resources/Prototypes/_DeadSpace/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DeadSpace/Loadouts/role_loadouts.yml
  Resources/Prototypes/_DeadSpace/Roles/Jobs/Command/officer_blueshield.yml
  Resources/Textures/_DeadSpace/Clothing/Underwear/Command/blueshield/socks.rsi/equipped-SOCKS.png
  Resources/Textures/_DeadSpace/Clothing/Underwear/Command/blueshield/socks.rsi/icon.png
  Resources/Textures/_DeadSpace/Clothing/Underwear/Command/blueshield/socks.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/S, Changes: Localization

#21 Исправление закрытия шлюзов без питания (ещё раз)
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Doors/Systems/SharedFirelockSystem.cs
Labels: S: Approved, size/S, Changes: C#

#20 [FEATURE] Footsteps
  Content.Client/Backmen/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Server/Backmen/FootPrint/FootPrintsSystem.cs
  Content.Server/Backmen/FootPrint/PuddleFootPrintsSystem.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Backmen/FootPrint/FootPrintComponent.cs
  Content.Shared/Backmen/FootPrint/FootPrintState.cs
  Content.Shared/Backmen/FootPrint/FootPrintVisuals.cs
  Content.Shared/Backmen/FootPrint/FootPrintsComponent.cs
  Content.Shared/Backmen/FootPrint/PuddleFootPrintsComponent.cs
  Content.Shared/DeadSpace/LieDown/LieDownComponent.cs
  Content.Shared/DeadSpace/LieDown/SharedLieDownSystem.cs
  Content.Shared/Fluids/Components/PuddleComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/computer.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/kobalt.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/shark.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/xenomorph.yml
  Resources/Textures/_Backmen/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/_Backmen/Effects/footprints.rsi/meta.json
Labels: Changes: Sprites, size/M, S: Needs Review

#13 Исправление названия спавнера ОСЩ
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
Labels: Changes: No C#, size/S, Changes: Localization, S: Needs Review

#28 Изменение должностей на Reach Transport
  Resources/Prototypes/Maps/reach.yml
Labels: Changes: Map, Changes: No C#, S: Approved, size/S
