Repository dead-space-server/space-station-14-fobos, pull requests merged in 2025-08, with the labels that each got.

#456 Спонсор DragonFox
  Resources/Locale/ru-RU/_deadspace/sponsor/dragon_fox.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/dragon_fox.yml
Labels: Changes: No C#, S: Approved, Changes: Localization

#465 Спонсорский заказ WhoTo
  Resources/Locale/ru-RU/_deadspace/sponsor/whoto.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/whoto.yml
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/belt.rsi/equipped-BELT.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/belt.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/belt.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/belt.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/belt.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gasmask.rsi/equipped-MASK.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gasmask.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gasmask.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gloves.rsi/equipped-HAND.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gloves.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gloves.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gloves.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gloves.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/base.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/equipped-BELT.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/mag-unshaded-0.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/mag-unshaded-1.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/mag-unshaded-2.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/mag-unshaded-3.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/mag-unshaded-4.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/gun.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/hardsuit.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/hardsuit.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/hardsuit.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/hardsuit.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/helmet.rsi/icon-flash.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/helmet.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/helmet.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/hud.rsi/equipped-EYES.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/hud.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/hud.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/hud.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/hud.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/magboots.rsi/equipped-FEET.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/magboots.rsi/icon-on.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/magboots.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/magboots.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/WhoTo/magboots.rsi/on-equipped-FEET.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#460 Маг - свободный агент (для соответствия роли на вики)
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: No C#, S: Approved, size/XS
