Repository dead-space-server/space-station-14-fobos, pull requests merged in 2025-05, with the labels that each got.

#188 Sec crates tiny tweaks
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Changes: No C#, size/S, Changes: Localization

#187 Набор доминатора для rtwo45
  Resources/Locale/ru-RU/_deadspace/sponsor/rtwo45.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/rtwo45.yml
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/cloak.rsi/equipped-NECK.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/cloak.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/cloak.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/cloak.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/cloak.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/hardsuit.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/hardsuit.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/hardsuit.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/hardsuit.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/helmet.rsi/icon-flash.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/helmet.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/helmet.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/magboots.rsi/equipped-FEET.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/magboots.rsi/icon-on.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/magboots.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/magboots.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/magboots.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/magboots.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/magboots.rsi/on-equipped-FEET.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/magboots.rsi/on-inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/rtwo45/magboots.rsi/on-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, Changes: Localization

#192 Синхронизация правил сервера с обновлёнными правилами в Discord
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule10.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule44.xml
Labels: Changes: No C#, S: Approved, size/S

#193 [HOTFIX] Lubed bola
  Content.Shared/Ensnaring/SharedEnsnareableSystem.cs
Labels: S: Approved, size/XS, Changes: C#

#195 Fix (kinda) kobolt's mess
  Resources/Locale/en-US/_deadspace/prototypes/body/organs/kobolt.ftl
  Resources/Locale/en-US/_deadspace/prototypes/body/parts/kobolt.ftl
  Resources/Locale/en-US/_deadspace/prototypes/entities/mobs/player/kobolt.ftl
  Resources/Locale/en-US/_deadspace/prototypes/entities/mobs/species/kobolt.ftl
  Resources/Locale/ru-RU/_deadspace/markings/kobolt.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/body/organs/kobolt.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/body/parts/kobolt.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/mobs/player/kobolt.ftl
  Resources/Locale/ru-RU/_deadspace/prototypes/entities/mobs/species/kobolt.ftl
  Resources/Prototypes/_DeadSpace/Body/Organs/kobolt.yml
  Resources/Prototypes/_DeadSpace/Body/Parts/kobolt.yml
  Resources/Prototypes/_DeadSpace/Body/Prototypes/kobolt.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Customization/Markings/kobolt.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Player/kobolt.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DeadSpace/Entities/Mobs/Species/kobolt.yml
  Resources/Prototypes/_DeadSpace/Species/kobolt.yml
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_dtiger.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_dtiger_behind.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_dtiger_front.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_ltiger.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_ltiger_behind.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_ltiger_front.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_smooth.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_smooth_behind.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_smooth_front.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_spikes.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_spikes_behind.png
  Resources/Textures/Mobs/Customization/reptilian_kobolt_parts.rsi/tail_spikes_front.png
Labels: Changes: No C#, Changes: Sprites, size/S, Changes: Localization

#133 Отмена уникальности убийству треитора
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#205 Rewrite maps prototypes
  Resources/Prototypes/Maps/Corvax/astra.yml
  Resources/Prototypes/Maps/Corvax/avrite.yml
  Resources/Prototypes/Maps/Corvax/delta.yml
  Resources/Prototypes/Maps/Corvax/paper.yml
  Resources/Prototypes/Maps/Corvax/spectrum.yml
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/barratry.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/convex.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/gate.yml
  Resources/Prototypes/Maps/gemini.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/plasma.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/silly.yml
  Resources/Prototypes/Maps/train.yml
Labels: Changes: Map, Changes: No C#, size/L

#236 Фикс перехода серверов
  Content.Client/Lobby/UI/ServerListBox.cs
Labels: S: Approved, size/XS, Changes: C#
