Repository dead-space-server/space-station-14-fobos, pull requests merged in 2025-03, with the labels that each got.

#59 Набор вещей спонсора Ainnetel
  Resources/Locale/ru-RU/_deadspace/sponsor/3eilado.ftl
  Resources/Prototypes/_DeadSpace/Sponsor/3eilado.yml
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/coat.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/coat.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/fan.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/fan.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/fan.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/fan.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/head.rsi/equipped-HELMET.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/head.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/head.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/jumpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/jumpsuit.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/jumpsuit.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/jumpsuit.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/jumpsuit.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/longstick.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/longstick.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/longstick.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/longstick.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/shoes.rsi/equipped-FEET.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/shoes.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/shoes.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/shoes.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/Spicebush/shoes.rsi/meta.json
  Resources/Textures/_DeadSpace/Sponsor/3eilado/rcd.rsi/equipped-BELT.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/rcd.rsi/icon.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/rcd.rsi/inhand-left.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/rcd.rsi/inhand-right.png
  Resources/Textures/_DeadSpace/Sponsor/3eilado/rcd.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/M, Changes: Localization, S: Needs Review

#61 Обновление правил сервера в репозитории, под актуальные написанные в discord
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule10.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule12.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule3.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule31.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule32.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule41.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule42.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule43.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule5.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule51.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule6.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule7.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule8.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule9.xml
  Resources/ServerInfo/DeadSpace/Guidebook/ServerRules/DeadSpaceDefaultRule92.xml
Labels: Changes: No C#, S: Approved, size/S

#63 Added link to new server
  Content.Client/Lobby/UI/ServerListBox.cs
Labels: Changes: C#

#38 Transfer amount UI for injector component
  Content.Client/Chemistry/UI/TransferAmountBoundUserInterface.cs
  Content.Shared/Chemistry/EntitySystems/SharedInjectorSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: S: Approved, Changes: C#

#41 Add ClothingSlowOnDamageModifier for combat boots
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
Labels: Changes: No C#, S: Approved, size/XS

#36 Двоичный ключ шифрования научному руководителю
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, S: Approved, size/XS

#34 Шнурованные туфли для всего командования
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: Changes: No C#, S: Approved, size/S, Changes: Localization

#42 Бафф демонов
  Resources/Prototypes/_DeadSpace/Demons/demons.yml
Labels: Changes: No C#, S: Approved, size/XS

#58 Значок юридического департамента юристам
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: No C#, size/XS, S: Needs Review

#70 Swap sec armor vest
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvax/entities/clothing/outerclothing/vests.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Department/security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: Changes: No C#, size/S, Changes: Localization
